border-1px($color)
    position: realtive
    &:after
        display:block
        content:''
        position: absolute
        left: 0
        bottom: 0
        border-top:1px solid $color
        width: 100%
